.disclaimer-container{
    padding: 15px;
	background-color: aliceblue;
	border-radius: 10px;
	margin-bottom: 20;
	float: left;
}
.disclaimer-text {
	justify-content: center;
	color: #212121;
}

.disclaimer-button{
	border-radius: 10px;
	float: right;
	padding-top: 38px;
    padding-left: 10px;
}